<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">

    <title>Shubham Warghade</title>
</head>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Shubham Warghade</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home"> MAIN<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#MyProjects">My Projects</a>
                </li>
            </ul>
            <span class="navbar-text">
                {{!-- Navbar text with an inline element --}}
            </span>
        </div>
    </nav>
</header>

<body>
    <section id="home" class="row align-items-center">
        <div class="wrapper">
            <div class="row justify-content-center">
                <div>
                    <div class="blurred-box justify-content-center">
                        <div>
                            <img src="/public/img/profilepic.jpg" class="diamond-img" alt="">
                        </div>

                        <h1 style="color: #fff; text-align:center;"> Hi I'am Shubham</h1>
                        <h2 style="color: #fff; text-align:center;"> Data Analyst || Web Programmer</h1>
                            <p style="color: #fff;" class="titleHead"> I am currently pursuing my <strong>Masters in
                                    Information Systems
                                    (MIS)</strong> at
                                Stevens Institute of Technology and focusing my studies on Data Analytics, Business
                                Intelligence and
                                Web Development. I hold a Bachelors's degree in Computer Engineering from the
                                University of Mumbai, India.
                            </p>
                            <div class="text-center">
                                <a href="https://www.linkedin.com/in/shubhamwarghade/" target="_blank"
                                    class="btn btn-outline-light" id="bttn">Connect on LinkedIn</a>
                            </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    {{!-- <section>
        <div class="wrapper">

        </div>
    </section> --}}
    <div class="row">
        <div class="container" id="lol">
            <section class="logo-carousel slider" data-arrows="true">
                <div class="slide"><img src="/public/img/github.png">
                </div>
                <div class="slide"><img src="/public/img/handlebars.png">
                </div>
                <div class="slide"><img src="/public/img/mongodb.png">
                </div>
                <div class="slide"><img src="/public/img/mysql.png">
                </div>
                <div class="slide"><img src="/public/img/node-js.png">
                </div>
                <div class="slide"><img src="/public/img/numpy.png">
                </div>
                <div class="slide"><img src="/public/img/pandas.png">
                </div>
                <div class="slide"><img src="/public/img/power-bi.png">
                </div>
                <div class="slide"><img src="/public/img/ps.png">
                </div>
                <div class="slide"><img src="/public/img/python.png">
                </div>
                <div class="slide"><img src="/public/img/seaborn.png">
                </div>
            </section>
        </div>
    </div>


    <br id="MyProjects">

    <section>
        <div class="wrapper">
            <h1 class="hovTitle">My Projects</h1>
            <div class="bgBox"></div>
            <div class="cards row justify-content-center">
                <div class="col-10">
                    <div class="row card-holder">
                        <div class="col-md-4 col-xs-10">
                            <img class="card-img-top" src="/public/img/yline.jpg" alt="Card image cap">
                        </div>
                        <div class="col-md-8 col-xs-10" id="inner-card">
                            <h1 class="card-title">YLINE.in</h1>
                            <span class="badge badge-pill badge-light">Node.js</span>
                            <span class="badge badge-pill badge-light">PostgreSQL</span>
                            <span class="badge badge-pill badge-light">Python</span>
                            <span class="badge badge-pill badge-light">Express.js</span>
                            <p class="card-text">Structured a SaaS for online appointments to promote social
                                distancing
                                using
                                Node.js, Express.js, PostgreSQL. Analyzed local businesses using classification models
                                (CART, Random
                                Forest,
                                Regression) to foresee spread of covid based on their customer intel</p>
                            <a href="https://yline.in/shops" target="_blank" class="btn btn-outline-dark"
                                id="bttn">Visit</a>
                            <a href="https://yline.in/mission" target="_blank" class="btn btn-outline-dark"
                                id="bttn">Mission</a>
                        </div>
                    </div>
                </div>

                <div class="col-10">
                    <div class="row card-holder">
                        <div class="col-md-4 col-xs-10">
                            <img class="card-img-top" src="/public/img/tfpc.png" alt="Card image cap">
                        </div>
                        <div class="col-md-8 col-xs-10" id="inner-card">
                            <h1 class="card-title">The Fire Protection Company</h1>
                            <span class="badge badge-pill badge-light">Node.js</span>
                            <span class="badge badge-pill badge-light">PostgreSQL</span>
                            <p class="card-text">Contributed in developing three submodules of an ERP system to boost
                                productivity and ensure smooth functioning of the business using Node.js, PostgreSQL.
                                Drafted former/later BPMN process projecting 23% faster process completion. Project
                                achieved
                                goal of seamlessly automating complex manual tasks and digitizing their process
                            </p>
                            <a href="https://github.com/swarghade/tfpc-erp-system" class="btn btn-outline-dark"
                                id="bttn">Github</a>
                        </div>
                    </div>
                </div>

                <div class="col-10">
                    <div class="row card-holder" id="card-holder">
                        <div class="col-md-4 col-xs-10">
                            <img class="card-img-top" src="/public/img/essential.jpg" alt="Card image cap">
                        </div>
                        <div class="col-md-8 col-xs-10" id="inner-card">
                            <h1 class="card-title">Essential Tech(Company)</h1>
                            <span class="badge badge-pill badge-light">Node.js</span>
                            <span class="badge badge-pill badge-light">PostgreSQL</span>
                            <p class="card-text">Developed 5 websites and 3 full-stack web applications which enabled
                                clients to expand their businesses and accelerate sales by 17%. • Conducted bi-weekly
                                sprints with team members leveraging agile methodologies facilitating collaboration and
                                timeliness. Assisted in generating leads of 5+ clients by maintaining client
                                relationships
                                and holding meetings
                            </p>
                            <a href="https://essentialtech.in/" class="btn btn-outline-dark" id="bttn">Website</a>
                        </div>
                    </div>
                </div>

                <div class="col-10">
                    <div class="row card-holder" id="card-holder">
                        <div class="col-md-4 col-xs-10">
                            <img class="card-img-top" src="/public/img/Potential Buyer.jpg" alt="Card image cap">
                        </div>
                        <div class="col-md-8 col-xs-10" id="inner-card">
                            <h1 class="card-title">Potential Buyers Prediction</h1>
                            <span class="badge badge-pill badge-light">KNN</span>
                            <span class="badge badge-pill badge-light">Pandas</span>
                            <span class="badge badge-pill badge-light">Numpy</span>
                            <span class="badge badge-pill badge-light">Matplotlib</span>
                            <p class="card-text">Customer prediction whether he will purchase the product of a company
                                or
                                not to buy the product of the company. To analyze the data set and the patterns of the
                                company, methodologies are applied for achieving the target audience and for refinement
                                of
                                advertising to reach potential customers. A customer analysis is a critical section of a
                                company's business plan or marketing plan.
                            </p>
                            <a href="https://github.com/swarghade/social-network-analytics" class="btn btn-outline-dark"
                                id="bttn">Website</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src='/public/js/fibform.js'></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
</body>

</html>